{% extends 'auths/base.html' %}
{% load static %}

{% block title %}Education | Summary Dashboard{% endblock title %}

{% block page_content %}
    <!-- start page content -->
    <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class=" pull-left">
                            <div class="page-title">Summary</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;<a class="parent-item" href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">Summary</li>
                        </ol>
                    </div>
                </div>
                <!-- start widget -->
                <div class="row">
                    <form method="post" id="stats_form">
                        {% csrf_token %}
                        <!-- select data you want to show in the table-->
                        <div class="search_fields">
                            <select name="column_1" class="column_1">
                                <h2>Teachers' data to display:</h2>
                                <option value="user_id">Username</option>
                                <option value="gender">Gender</option>
                                <option value="date_of_birth">Date Of Birth</option>
                                <option value="age">Age</option>
                                <option value="religion">Religion</option>
                                <option value="created_date">Registered Date</option>
                                <option value="designation">Designation</option>
                                <option value="grade_level">Grade/Level</option>
                                <option value="first_appointment">First Appointment Date</option>
                                <option value="qualification">Qualification</option>
                                <option value="years_in_service">Years In Service</option>
                                <option value="discipline">Discipline</option>
                                <option value="current_posting_zone_id">Zone</option>
                                <option value="current_posting_school_id">School</option>
                                <option value="current_subject_id">Subject</option>
                            </select>
                        </div>
                        <input type="submit" value="Show Table">
                    </form>
                    <button type="submit" id="add_field">Add Fields</button>
                    {{ teachers_df|safe }}
                    <br>
                    <h3>Teachers from zone 1:</h3>
                    {{ zone1|safe }}<br>
                    <div class="show_table">
                    
                    </div>
                </div>
                
                <div class="row">
                    <form>
                    
                    </form>
                </div>

                <!-- end widget -->
            </div>
        </div>
    <!-- end page content -->

{% endblock page_content %}
